.shadow-text-light {
  text-shadow: 3px 3px 5px var(--col-light);
}
.shadow-text-dark {
  text-shadow: 3px 3px 5px var(--col-dark);
}

.shadow-text-slate-50 {
  text-shadow: 3px 3px 5px var(--col-slate-50);
}
.shadow-text-slate-100 {
  text-shadow: 3px 3px 5px var(--col-slate-100);
}
.shadow-text-slate-200 {
  text-shadow: 3px 3px 5px var(--col-slate-200);
}
.shadow-text-slate-300 {
  text-shadow: 3px 3px 5px var(--col-slate-300);
}
.shadow-text-slate-400 {
  text-shadow: 3px 3px 5px var(--col-slate-400);
}
.shadow-text-slate-500 {
  text-shadow: 3px 3px 5px var(--col-slate-500);
}
.shadow-text-slate {
  text-shadow: 3px 3px 5px var(--col-slate-500);
}
.shadow-text-slate-600 {
  text-shadow: 3px 3px 5px var(--col-slate-600);
}
.shadow-text-slate-700 {
  text-shadow: 3px 3px 5px var(--col-slate-700);
}
.shadow-text-slate-800 {
  text-shadow: 3px 3px 5px var(--col-slate-800);
}
.shadow-text-slate-900 {
  text-shadow: 3px 3px 5px var(--col-slate-900);
}
.shadow-text-slate-950 {
  text-shadow: 3px 3px 5px var(--col-slate-950);
}

.shadow-text-gray-50 {
  text-shadow: 3px 3px 5px var(--col-gray-50);
}
.shadow-text-gray-100 {
  text-shadow: 3px 3px 5px var(--col-gray-100);
}
.shadow-text-gray-200 {
  text-shadow: 3px 3px 5px var(--col-gray-200);
}
.shadow-text-gray-300 {
  text-shadow: 3px 3px 5px var(--col-gray-300);
}
.shadow-text-gray-400 {
  text-shadow: 3px 3px 5px var(--col-gray-400);
}
.shadow-text-gray-500 {
  text-shadow: 3px 3px 5px var(--col-gray-500);
}
.shadow-text-gray {
  text-shadow: 3px 3px 5px var(--col-gray-500);
}
.shadow-text-gray-600 {
  text-shadow: 3px 3px 5px var(--col-gray-600);
}
.shadow-text-gray-700 {
  text-shadow: 3px 3px 5px var(--col-gray-700);
}
.shadow-text-gray-800 {
  text-shadow: 3px 3px 5px var(--col-gray-800);
}
.shadow-text-gray-900 {
  text-shadow: 3px 3px 5px var(--col-gray-900);
}
.shadow-text-gray-950 {
  text-shadow: 3px 3px 5px var(--col-gray-950);
}

.shadow-text-zinc-50 {
  text-shadow: 3px 3px 5px var(--col-zinc-50);
}
.shadow-text-zinc-100 {
  text-shadow: 3px 3px 5px var(--col-zinc-100);
}
.shadow-text-zinc-200 {
  text-shadow: 3px 3px 5px var(--col-zinc-200);
}
.shadow-text-zinc-300 {
  text-shadow: 3px 3px 5px var(--col-zinc-300);
}
.shadow-text-zinc-400 {
  text-shadow: 3px 3px 5px var(--col-zinc-400);
}
.shadow-text-zinc-500 {
  text-shadow: 3px 3px 5px var(--col-zinc-500);
}
.shadow-text-zinc {
  text-shadow: 3px 3px 5px var(--col-zinc-500);
}
.shadow-text-zinc-600 {
  text-shadow: 3px 3px 5px var(--col-zinc-600);
}
.shadow-text-zinc-700 {
  text-shadow: 3px 3px 5px var(--col-zinc-700);
}
.shadow-text-zinc-800 {
  text-shadow: 3px 3px 5px var(--col-zinc-800);
}
.shadow-text-zinc-900 {
  text-shadow: 3px 3px 5px var(--col-zinc-900);
}
.shadow-text-zinc-950 {
  text-shadow: 3px 3px 5px var(--col-zinc-950);
}

.shadow-text-neutral-50 {
  text-shadow: 3px 3px 5px var(--col-neutral-50);
}
.shadow-text-neutral-100 {
  text-shadow: 3px 3px 5px var(--col-neutral-100);
}
.shadow-text-neutral-200 {
  text-shadow: 3px 3px 5px var(--col-neutral-200);
}
.shadow-text-neutral-300 {
  text-shadow: 3px 3px 5px var(--col-neutral-300);
}
.shadow-text-neutral-400 {
  text-shadow: 3px 3px 5px var(--col-neutral-400);
}
.shadow-text-neutral-500 {
  text-shadow: 3px 3px 5px var(--col-neutral-500);
}
.shadow-text-neutral {
  text-shadow: 3px 3px 5px var(--col-neutral-500);
}
.shadow-text-neutral-600 {
  text-shadow: 3px 3px 5px var(--col-neutral-600);
}
.shadow-text-neutral-700 {
  text-shadow: 3px 3px 5px var(--col-neutral-700);
}
.shadow-text-neutral-800 {
  text-shadow: 3px 3px 5px var(--col-neutral-800);
}
.shadow-text-neutral-900 {
  text-shadow: 3px 3px 5px var(--col-neutral-900);
}
.shadow-text-neutral-950 {
  text-shadow: 3px 3px 5px var(--col-neutral-950);
}

.shadow-text-stone-50 {
  text-shadow: 3px 3px 5px var(--col-stone-50);
}
.shadow-text-stone-100 {
  text-shadow: 3px 3px 5px var(--col-stone-100);
}
.shadow-text-stone-200 {
  text-shadow: 3px 3px 5px var(--col-stone-200);
}
.shadow-text-stone-300 {
  text-shadow: 3px 3px 5px var(--col-stone-300);
}
.shadow-text-stone-400 {
  text-shadow: 3px 3px 5px var(--col-stone-400);
}
.shadow-text-stone-500 {
  text-shadow: 3px 3px 5px var(--col-stone-500);
}
.shadow-text-stone {
  text-shadow: 3px 3px 5px var(--col-stone-500);
}
.shadow-text-stone-600 {
  text-shadow: 3px 3px 5px var(--col-stone-600);
}
.shadow-text-stone-700 {
  text-shadow: 3px 3px 5px var(--col-stone-700);
}
.shadow-text-stone-800 {
  text-shadow: 3px 3px 5px var(--col-stone-800);
}
.shadow-text-stone-900 {
  text-shadow: 3px 3px 5px var(--col-stone-900);
}
.shadow-text-stone-950 {
  text-shadow: 3px 3px 5px var(--col-stone-950);
}

.shadow-text-red-50 {
  text-shadow: 3px 3px 5px var(--col-red-50);
}
.shadow-text-red-100 {
  text-shadow: 3px 3px 5px var(--col-red-100);
}
.shadow-text-red-200 {
  text-shadow: 3px 3px 5px var(--col-red-200);
}
.shadow-text-red-300 {
  text-shadow: 3px 3px 5px var(--col-red-300);
}
.shadow-text-red-400 {
  text-shadow: 3px 3px 5px var(--col-red-400);
}
.shadow-text-red-500 {
  text-shadow: 3px 3px 5px var(--col-red-500);
}
.shadow-text-red {
  text-shadow: 3px 3px 5px var(--col-red-500);
}
.shadow-text-red-600 {
  text-shadow: 3px 3px 5px var(--col-red-600);
}
.shadow-text-red-700 {
  text-shadow: 3px 3px 5px var(--col-red-700);
}
.shadow-text-red-800 {
  text-shadow: 3px 3px 5px var(--col-red-800);
}
.shadow-text-red-900 {
  text-shadow: 3px 3px 5px var(--col-red-900);
}
.shadow-text-red-950 {
  text-shadow: 3px 3px 5px var(--col-red-950);
}

.shadow-text-orange-50 {
  text-shadow: 3px 3px 5px var(--col-orange-50);
}
.shadow-text-orange-100 {
  text-shadow: 3px 3px 5px var(--col-orange-100);
}
.shadow-text-orange-200 {
  text-shadow: 3px 3px 5px var(--col-orange-200);
}
.shadow-text-orange-300 {
  text-shadow: 3px 3px 5px var(--col-orange-300);
}
.shadow-text-orange-400 {
  text-shadow: 3px 3px 5px var(--col-orange-400);
}
.shadow-text-orange-500 {
  text-shadow: 3px 3px 5px var(--col-orange-500);
}
.shadow-text-orange {
  text-shadow: 3px 3px 5px var(--col-orange-500);
}
.shadow-text-orange-600 {
  text-shadow: 3px 3px 5px var(--col-orange-600);
}
.shadow-text-orange-700 {
  text-shadow: 3px 3px 5px var(--col-orange-700);
}
.shadow-text-orange-800 {
  text-shadow: 3px 3px 5px var(--col-orange-800);
}
.shadow-text-orange-900 {
  text-shadow: 3px 3px 5px var(--col-orange-900);
}
.shadow-text-orange-950 {
  text-shadow: 3px 3px 5px var(--col-orange-950);
}

.shadow-text-amber-50 {
  text-shadow: 3px 3px 5px var(--col-amber-50);
}
.shadow-text-amber-100 {
  text-shadow: 3px 3px 5px var(--col-amber-100);
}
.shadow-text-amber-200 {
  text-shadow: 3px 3px 5px var(--col-amber-200);
}
.shadow-text-amber-300 {
  text-shadow: 3px 3px 5px var(--col-amber-300);
}
.shadow-text-amber-400 {
  text-shadow: 3px 3px 5px var(--col-amber-400);
}
.shadow-text-amber-500 {
  text-shadow: 3px 3px 5px var(--col-amber-500);
}
.shadow-text-amber {
  text-shadow: 3px 3px 5px var(--col-amber-500);
}
.shadow-text-amber-600 {
  text-shadow: 3px 3px 5px var(--col-amber-600);
}
.shadow-text-amber-700 {
  text-shadow: 3px 3px 5px var(--col-amber-700);
}
.shadow-text-amber-800 {
  text-shadow: 3px 3px 5px var(--col-amber-800);
}
.shadow-text-amber-900 {
  text-shadow: 3px 3px 5px var(--col-amber-900);
}
.shadow-text-amber-950 {
  text-shadow: 3px 3px 5px var(--col-amber-950);
}

.shadow-text-yellow-50 {
  text-shadow: 3px 3px 5px var(--col-yellow-50);
}
.shadow-text-yellow-100 {
  text-shadow: 3px 3px 5px var(--col-yellow-100);
}
.shadow-text-yellow-200 {
  text-shadow: 3px 3px 5px var(--col-yellow-200);
}
.shadow-text-yellow-300 {
  text-shadow: 3px 3px 5px var(--col-yellow-300);
}
.shadow-text-yellow-400 {
  text-shadow: 3px 3px 5px var(--col-yellow-400);
}
.shadow-text-yellow-500 {
  text-shadow: 3px 3px 5px var(--col-yellow-500);
}
.shadow-text-yellow {
  text-shadow: 3px 3px 5px var(--col-yellow-400);
}
.shadow-text-yellow-600 {
  text-shadow: 3px 3px 5px var(--col-yellow-600);
}
.shadow-text-yellow-700 {
  text-shadow: 3px 3px 5px var(--col-yellow-700);
}
.shadow-text-yellow-800 {
  text-shadow: 3px 3px 5px var(--col-yellow-800);
}
.shadow-text-yellow-900 {
  text-shadow: 3px 3px 5px var(--col-yellow-900);
}
.shadow-text-yellow-950 {
  text-shadow: 3px 3px 5px var(--col-yellow-950);
}

.shadow-text-lime-50 {
  text-shadow: 3px 3px 5px var(--col-lime-50);
}
.shadow-text-lime-100 {
  text-shadow: 3px 3px 5px var(--col-lime-100);
}
.shadow-text-lime-200 {
  text-shadow: 3px 3px 5px var(--col-lime-200);
}
.shadow-text-lime-300 {
  text-shadow: 3px 3px 5px var(--col-lime-300);
}
.shadow-text-lime-400 {
  text-shadow: 3px 3px 5px var(--col-lime-400);
}
.shadow-text-lime-500 {
  text-shadow: 3px 3px 5px var(--col-lime-500);
}
.shadow-text-lime {
  text-shadow: 3px 3px 5px var(--col-lime-400);
}
.shadow-text-lime-600 {
  text-shadow: 3px 3px 5px var(--col-lime-600);
}
.shadow-text-lime-700 {
  text-shadow: 3px 3px 5px var(--col-lime-700);
}
.shadow-text-lime-800 {
  text-shadow: 3px 3px 5px var(--col-lime-800);
}
.shadow-text-lime-900 {
  text-shadow: 3px 3px 5px var(--col-lime-900);
}
.shadow-text-lime-950 {
  text-shadow: 3px 3px 5px var(--col-lime-950);
}

.shadow-text-green-50 {
  text-shadow: 3px 3px 5px var(--col-green-50);
}
.shadow-text-green-100 {
  text-shadow: 3px 3px 5px var(--col-green-100);
}
.shadow-text-green-200 {
  text-shadow: 3px 3px 5px var(--col-green-200);
}
.shadow-text-green-300 {
  text-shadow: 3px 3px 5px var(--col-green-300);
}
.shadow-text-green-400 {
  text-shadow: 3px 3px 5px var(--col-green-400);
}
.shadow-text-green-500 {
  text-shadow: 3px 3px 5px var(--col-green-500);
}
.shadow-text-green {
  text-shadow: 3px 3px 5px var(--col-green-500);
}
.shadow-text-green-600 {
  text-shadow: 3px 3px 5px var(--col-green-600);
}
.shadow-text-green-700 {
  text-shadow: 3px 3px 5px var(--col-green-700);
}
.shadow-text-green-800 {
  text-shadow: 3px 3px 5px var(--col-green-800);
}
.shadow-text-green-900 {
  text-shadow: 3px 3px 5px var(--col-green-900);
}
.shadow-text-green-950 {
  text-shadow: 3px 3px 5px var(--col-green-950);
}

.shadow-text-emerald-50 {
  text-shadow: 3px 3px 5px var(--col-emerald-50);
}
.shadow-text-emerald-100 {
  text-shadow: 3px 3px 5px var(--col-emerald-100);
}
.shadow-text-emerald-200 {
  text-shadow: 3px 3px 5px var(--col-emerald-200);
}
.shadow-text-emerald-300 {
  text-shadow: 3px 3px 5px var(--col-emerald-300);
}
.shadow-text-emerald-400 {
  text-shadow: 3px 3px 5px var(--col-emerald-400);
}
.shadow-text-emerald-500 {
  text-shadow: 3px 3px 5px var(--col-emerald-500);
}
.shadow-text-emerald {
  text-shadow: 3px 3px 5px var(--col-emerald-500);
}
.shadow-text-emerald-600 {
  text-shadow: 3px 3px 5px var(--col-emerald-600);
}
.shadow-text-emerald-700 {
  text-shadow: 3px 3px 5px var(--col-emerald-700);
}
.shadow-text-emerald-800 {
  text-shadow: 3px 3px 5px var(--col-emerald-800);
}
.shadow-text-emerald-900 {
  text-shadow: 3px 3px 5px var(--col-emerald-900);
}
.shadow-text-emerald-950 {
  text-shadow: 3px 3px 5px var(--col-emerald-950);
}

.shadow-text-teal-50 {
  text-shadow: 3px 3px 5px var(--col-teal-50);
}
.shadow-text-teal-100 {
  text-shadow: 3px 3px 5px var(--col-teal-100);
}
.shadow-text-teal-200 {
  text-shadow: 3px 3px 5px var(--col-teal-200);
}
.shadow-text-teal-300 {
  text-shadow: 3px 3px 5px var(--col-teal-300);
}
.shadow-text-teal-400 {
  text-shadow: 3px 3px 5px var(--col-teal-400);
}
.shadow-text-teal-500 {
  text-shadow: 3px 3px 5px var(--col-teal-500);
}
.shadow-text-teal {
  text-shadow: 3px 3px 5px var(--col-teal-400);
}
.shadow-text-teal-600 {
  text-shadow: 3px 3px 5px var(--col-teal-600);
}
.shadow-text-teal-700 {
  text-shadow: 3px 3px 5px var(--col-teal-700);
}
.shadow-text-teal-800 {
  text-shadow: 3px 3px 5px var(--col-teal-800);
}
.shadow-text-teal-900 {
  text-shadow: 3px 3px 5px var(--col-teal-900);
}
.shadow-text-teal-950 {
  text-shadow: 3px 3px 5px var(--col-teal-950);
}

.shadow-text-cyan-50 {
  text-shadow: 3px 3px 5px var(--col-cyan-50);
}
.shadow-text-cyan-100 {
  text-shadow: 3px 3px 5px var(--col-cyan-100);
}
.shadow-text-cyan-200 {
  text-shadow: 3px 3px 5px var(--col-cyan-200);
}
.shadow-text-cyan-300 {
  text-shadow: 3px 3px 5px var(--col-cyan-300);
}
.shadow-text-cyan-400 {
  text-shadow: 3px 3px 5px var(--col-cyan-400);
}
.shadow-text-cyan-500 {
  text-shadow: 3px 3px 5px var(--col-cyan-500);
}
.shadow-text-cyan {
  text-shadow: 3px 3px 5px var(--col-cyan-400);
}
.shadow-text-cyan-600 {
  text-shadow: 3px 3px 5px var(--col-cyan-600);
}
.shadow-text-cyan-700 {
  text-shadow: 3px 3px 5px var(--col-cyan-700);
}
.shadow-text-cyan-800 {
  text-shadow: 3px 3px 5px var(--col-cyan-800);
}
.shadow-text-cyan-900 {
  text-shadow: 3px 3px 5px var(--col-cyan-900);
}
.shadow-text-cyan-950 {
  text-shadow: 3px 3px 5px var(--col-cyan-950);
}

.shadow-text-sky-50 {
  text-shadow: 3px 3px 5px var(--col-sky-50);
}
.shadow-text-sky-100 {
  text-shadow: 3px 3px 5px var(--col-sky-100);
}
.shadow-text-sky-200 {
  text-shadow: 3px 3px 5px var(--col-sky-200);
}
.shadow-text-sky-300 {
  text-shadow: 3px 3px 5px var(--col-sky-300);
}
.shadow-text-sky-400 {
  text-shadow: 3px 3px 5px var(--col-sky-400);
}
.shadow-text-sky-500 {
  text-shadow: 3px 3px 5px var(--col-sky-500);
}
.shadow-text-sky {
  text-shadow: 3px 3px 5px var(--col-sky-400);
}
.shadow-text-sky-600 {
  text-shadow: 3px 3px 5px var(--col-sky-600);
}
.shadow-text-sky-700 {
  text-shadow: 3px 3px 5px var(--col-sky-700);
}
.shadow-text-sky-800 {
  text-shadow: 3px 3px 5px var(--col-sky-800);
}
.shadow-text-sky-900 {
  text-shadow: 3px 3px 5px var(--col-sky-900);
}
.shadow-text-sky-950 {
  text-shadow: 3px 3px 5px var(--col-sky-950);
}

.shadow-text-blue-50 {
  text-shadow: 3px 3px 5px var(--col-blue-50);
}
.shadow-text-blue-100 {
  text-shadow: 3px 3px 5px var(--col-blue-100);
}
.shadow-text-blue-200 {
  text-shadow: 3px 3px 5px var(--col-blue-200);
}
.shadow-text-blue-300 {
  text-shadow: 3px 3px 5px var(--col-blue-300);
}
.shadow-text-blue-400 {
  text-shadow: 3px 3px 5px var(--col-blue-400);
}
.shadow-text-blue-500 {
  text-shadow: 3px 3px 5px var(--col-blue-500);
}
.shadow-text-blue {
  text-shadow: 3px 3px 5px var(--col-blue-400);
}
.shadow-text-blue-600 {
  text-shadow: 3px 3px 5px var(--col-blue-600);
}
.shadow-text-blue-700 {
  text-shadow: 3px 3px 5px var(--col-blue-700);
}
.shadow-text-blue-800 {
  text-shadow: 3px 3px 5px var(--col-blue-800);
}
.shadow-text-blue-900 {
  text-shadow: 3px 3px 5px var(--col-blue-900);
}
.shadow-text-blue-950 {
  text-shadow: 3px 3px 5px var(--col-blue-950);
}

.shadow-text-indigo-50 {
  text-shadow: 3px 3px 5px var(--col-indigo-50);
}
.shadow-text-indigo-100 {
  text-shadow: 3px 3px 5px var(--col-indigo-100);
}
.shadow-text-indigo-200 {
  text-shadow: 3px 3px 5px var(--col-indigo-200);
}
.shadow-text-indigo-300 {
  text-shadow: 3px 3px 5px var(--col-indigo-300);
}
.shadow-text-indigo-400 {
  text-shadow: 3px 3px 5px var(--col-indigo-400);
}
.shadow-text-indigo-500 {
  text-shadow: 3px 3px 5px var(--col-indigo-500);
}
.shadow-text-indigo {
  text-shadow: 3px 3px 5px var(--col-indigo-400);
}
.shadow-text-indigo-600 {
  text-shadow: 3px 3px 5px var(--col-indigo-600);
}
.shadow-text-indigo-700 {
  text-shadow: 3px 3px 5px var(--col-indigo-700);
}
.shadow-text-indigo-800 {
  text-shadow: 3px 3px 5px var(--col-indigo-800);
}
.shadow-text-indigo-900 {
  text-shadow: 3px 3px 5px var(--col-indigo-900);
}
.shadow-text-indigo-950 {
  text-shadow: 3px 3px 5px var(--col-indigo-950);
}

.shadow-text-violet-50 {
  text-shadow: 3px 3px 5px var(--col-violet-50);
}
.shadow-text-violet-100 {
  text-shadow: 3px 3px 5px var(--col-violet-100);
}
.shadow-text-violet-200 {
  text-shadow: 3px 3px 5px var(--col-violet-200);
}
.shadow-text-violet-300 {
  text-shadow: 3px 3px 5px var(--col-violet-300);
}
.shadow-text-violet-400 {
  text-shadow: 3px 3px 5px var(--col-violet-400);
}
.shadow-text-violet-500 {
  text-shadow: 3px 3px 5px var(--col-violet-500);
}
.shadow-text-violet {
  text-shadow: 3px 3px 5px var(--col-violet-500);
}
.shadow-text-violet-600 {
  text-shadow: 3px 3px 5px var(--col-violet-600);
}
.shadow-text-violet-700 {
  text-shadow: 3px 3px 5px var(--col-violet-700);
}
.shadow-text-violet-800 {
  text-shadow: 3px 3px 5px var(--col-violet-800);
}
.shadow-text-violet-900 {
  text-shadow: 3px 3px 5px var(--col-violet-900);
}
.shadow-text-violet-950 {
  text-shadow: 3px 3px 5px var(--col-violet-950);
}

.shadow-text-purple-50 {
  text-shadow: 3px 3px 5px var(--col-purple-50);
}
.shadow-text-purple-100 {
  text-shadow: 3px 3px 5px var(--col-purple-100);
}
.shadow-text-purple-200 {
  text-shadow: 3px 3px 5px var(--col-purple-200);
}
.shadow-text-purple-300 {
  text-shadow: 3px 3px 5px var(--col-purple-300);
}
.shadow-text-purple-400 {
  text-shadow: 3px 3px 5px var(--col-purple-400);
}
.shadow-text-purple-500 {
  text-shadow: 3px 3px 5px var(--col-purple-500);
}
.shadow-text-purple {
  text-shadow: 3px 3px 5px var(--col-purple-500);
}
.shadow-text-purple-600 {
  text-shadow: 3px 3px 5px var(--col-purple-600);
}
.shadow-text-purple-700 {
  text-shadow: 3px 3px 5px var(--col-purple-700);
}
.shadow-text-purple-800 {
  text-shadow: 3px 3px 5px var(--col-purple-800);
}
.shadow-text-purple-900 {
  text-shadow: 3px 3px 5px var(--col-purple-900);
}
.shadow-text-purple-950 {
  text-shadow: 3px 3px 5px var(--col-purple-950);
}

.shadow-text-fuchsia-50 {
  text-shadow: 3px 3px 5px var(--col-fuchsia-50);
}
.shadow-text-fuchsia-100 {
  text-shadow: 3px 3px 5px var(--col-fuchsia-100);
}
.shadow-text-fuchsia-200 {
  text-shadow: 3px 3px 5px var(--col-fuchsia-200);
}
.shadow-text-fuchsia-300 {
  text-shadow: 3px 3px 5px var(--col-fuchsia-300);
}
.shadow-text-fuchsia-400 {
  text-shadow: 3px 3px 5px var(--col-fuchsia-400);
}
.shadow-text-fuchsia-500 {
  text-shadow: 3px 3px 5px var(--col-fuchsia-500);
}
.shadow-text-fuchsia {
  text-shadow: 3px 3px 5px var(--col-fuchsia-500);
}
.shadow-text-fuchsia-600 {
  text-shadow: 3px 3px 5px var(--col-fuchsia-600);
}
.shadow-text-fuchsia-700 {
  text-shadow: 3px 3px 5px var(--col-fuchsia-700);
}
.shadow-text-fuchsia-800 {
  text-shadow: 3px 3px 5px var(--col-fuchsia-800);
}
.shadow-text-fuchsia-900 {
  text-shadow: 3px 3px 5px var(--col-fuchsia-900);
}
.shadow-text-fuchsia-950 {
  text-shadow: 3px 3px 5px var(--col-fuchsia-950);
}

.shadow-text-pink-50 {
  text-shadow: 3px 3px 5px var(--col-pink-50);
}
.shadow-text-pink-100 {
  text-shadow: 3px 3px 5px var(--col-pink-100);
}
.shadow-text-pink-200 {
  text-shadow: 3px 3px 5px var(--col-pink-200);
}
.shadow-text-pink-300 {
  text-shadow: 3px 3px 5px var(--col-pink-300);
}
.shadow-text-pink-400 {
  text-shadow: 3px 3px 5px var(--col-pink-400);
}
.shadow-text-pink-500 {
  text-shadow: 3px 3px 5px var(--col-pink-500);
}
.shadow-text-pink {
  text-shadow: 3px 3px 5px var(--col-pink-500);
}
.shadow-text-pink-600 {
  text-shadow: 3px 3px 5px var(--col-pink-600);
}
.shadow-text-pink-700 {
  text-shadow: 3px 3px 5px var(--col-pink-700);
}
.shadow-text-pink-800 {
  text-shadow: 3px 3px 5px var(--col-pink-800);
}
.shadow-text-pink-900 {
  text-shadow: 3px 3px 5px var(--col-pink-900);
}
.shadow-text-pink-950 {
  text-shadow: 3px 3px 5px var(--col-pink-950);
}

.shadow-text-rose-50 {
  text-shadow: 3px 3px 5px var(--col-rose-50);
}
.shadow-text-rose-100 {
  text-shadow: 3px 3px 5px var(--col-rose-100);
}
.shadow-text-rose-200 {
  text-shadow: 3px 3px 5px var(--col-rose-200);
}
.shadow-text-rose-300 {
  text-shadow: 3px 3px 5px var(--col-rose-300);
}
.shadow-text-rose-400 {
  text-shadow: 3px 3px 5px var(--col-rose-400);
}
.shadow-text-rose-500 {
  text-shadow: 3px 3px 5px var(--col-rose-500);
}
.shadow-text-rose {
  text-shadow: 3px 3px 5px var(--col-rose-500);
}
.shadow-text-rose-600 {
  text-shadow: 3px 3px 5px var(--col-rose-600);
}
.shadow-text-rose-700 {
  text-shadow: 3px 3px 5px var(--col-rose-700);
}
.shadow-text-rose-800 {
  text-shadow: 3px 3px 5px var(--col-rose-800);
}
.shadow-text-rose-900 {
  text-shadow: 3px 3px 5px var(--col-rose-900);
}
.shadow-text-rose-950 {
  text-shadow: 3px 3px 5px var(--col-rose-950);
}

.shadow-box-light {
    box-shadow: 3px 3px 10px var(--col-light)
}

.shadow-box-dark {
    box-shadow: 3px 3px 10px var(--col-dark)
}

.shadow-box-slate-50 {
  box-shadow: 3px 3px 10px var(--col-slate-50);
}
.shadow-box-slate-100 {
  box-shadow: 3px 3px 10px var(--col-slate-100);
}
.shadow-box-slate-200 {
  box-shadow: 3px 3px 10px var(--col-slate-200);
}
.shadow-box-slate-300 {
  box-shadow: 3px 3px 10px var(--col-slate-300);
}
.shadow-box-slate-400 {
  box-shadow: 3px 3px 10px var(--col-slate-400);
}
.shadow-box-slate-500 {
  box-shadow: 3px 3px 10px var(--col-slate-500);
}
.shadow-box-slate {
  box-shadow: 3px 3px 10px var(--col-slate-500);
}
.shadow-box-slate-600 {
  box-shadow: 3px 3px 10px var(--col-slate-600);
}
.shadow-box-slate-700 {
  box-shadow: 3px 3px 10px var(--col-slate-700);
}
.shadow-box-slate-800 {
  box-shadow: 3px 3px 10px var(--col-slate-800);
}
.shadow-box-slate-900 {
  box-shadow: 3px 3px 10px var(--col-slate-900);
}
.shadow-box-slate-950 {
  box-shadow: 3px 3px 10px var(--col-slate-950);
}

.shadow-box-gray-50 {
  box-shadow: 3px 3px 10px var(--col-gray-50);
}
.shadow-box-gray-100 {
  box-shadow: 3px 3px 10px var(--col-gray-100);
}
.shadow-box-gray-200 {
  box-shadow: 3px 3px 10px var(--col-gray-200);
}
.shadow-box-gray-300 {
  box-shadow: 3px 3px 10px var(--col-gray-300);
}
.shadow-box-gray-400 {
  box-shadow: 3px 3px 10px var(--col-gray-400);
}
.shadow-box-gray-500 {
  box-shadow: 3px 3px 10px var(--col-gray-500);
}
.shadow-box-gray {
  box-shadow: 3px 3px 10px var(--col-gray-500);
}
.shadow-box-gray-600 {
  box-shadow: 3px 3px 10px var(--col-gray-600);
}
.shadow-box-gray-700 {
  box-shadow: 3px 3px 10px var(--col-gray-700);
}
.shadow-box-gray-800 {
  box-shadow: 3px 3px 10px var(--col-gray-800);
}
.shadow-box-gray-900 {
  box-shadow: 3px 3px 10px var(--col-gray-900);
}
.shadow-box-gray-950 {
  box-shadow: 3px 3px 10px var(--col-gray-950);
}

.shadow-box-zinc-50 {
  box-shadow: 3px 3px 10px var(--col-zinc-50);
}
.shadow-box-zinc-100 {
  box-shadow: 3px 3px 10px var(--col-zinc-100);
}
.shadow-box-zinc-200 {
  box-shadow: 3px 3px 10px var(--col-zinc-200);
}
.shadow-box-zinc-300 {
  box-shadow: 3px 3px 10px var(--col-zinc-300);
}
.shadow-box-zinc-400 {
  box-shadow: 3px 3px 10px var(--col-zinc-400);
}
.shadow-box-zinc-500 {
  box-shadow: 3px 3px 10px var(--col-zinc-500);
}
.shadow-box-zinc {
  box-shadow: 3px 3px 10px var(--col-zinc-500);
}
.shadow-box-zinc-600 {
  box-shadow: 3px 3px 10px var(--col-zinc-600);
}
.shadow-box-zinc-700 {
  box-shadow: 3px 3px 10px var(--col-zinc-700);
}
.shadow-box-zinc-800 {
  box-shadow: 3px 3px 10px var(--col-zinc-800);
}
.shadow-box-zinc-900 {
  box-shadow: 3px 3px 10px var(--col-zinc-900);
}
.shadow-box-zinc-950 {
  box-shadow: 3px 3px 10px var(--col-zinc-950);
}

.shadow-box-neutral-50 {
  box-shadow: 3px 3px 10px var(--col-neutral-50);
}
.shadow-box-neutral-100 {
  box-shadow: 3px 3px 10px var(--col-neutral-100);
}
.shadow-box-neutral-200 {
  box-shadow: 3px 3px 10px var(--col-neutral-200);
}
.shadow-box-neutral-300 {
  box-shadow: 3px 3px 10px var(--col-neutral-300);
}
.shadow-box-neutral-400 {
  box-shadow: 3px 3px 10px var(--col-neutral-400);
}
.shadow-box-neutral-500 {
  box-shadow: 3px 3px 10px var(--col-neutral-500);
}
.shadow-box-neutral {
  box-shadow: 3px 3px 10px var(--col-neutral-500);
}
.shadow-box-neutral-600 {
  box-shadow: 3px 3px 10px var(--col-neutral-600);
}
.shadow-box-neutral-700 {
  box-shadow: 3px 3px 10px var(--col-neutral-700);
}
.shadow-box-neutral-800 {
  box-shadow: 3px 3px 10px var(--col-neutral-800);
}
.shadow-box-neutral-900 {
  box-shadow: 3px 3px 10px var(--col-neutral-900);
}
.shadow-box-neutral-950 {
  box-shadow: 3px 3px 10px var(--col-neutral-950);
}

.shadow-box-stone-50 {
  box-shadow: 3px 3px 10px var(--col-stone-50);
}
.shadow-box-stone-100 {
  box-shadow: 3px 3px 10px var(--col-stone-100);
}
.shadow-box-stone-200 {
  box-shadow: 3px 3px 10px var(--col-stone-200);
}
.shadow-box-stone-300 {
  box-shadow: 3px 3px 10px var(--col-stone-300);
}
.shadow-box-stone-400 {
  box-shadow: 3px 3px 10px var(--col-stone-400);
}
.shadow-box-stone-500 {
  box-shadow: 3px 3px 10px var(--col-stone-500);
}
.shadow-box-stone {
  box-shadow: 3px 3px 10px var(--col-stone-500);
}
.shadow-box-stone-600 {
  box-shadow: 3px 3px 10px var(--col-stone-600);
}
.shadow-box-stone-700 {
  box-shadow: 3px 3px 10px var(--col-stone-700);
}
.shadow-box-stone-800 {
  box-shadow: 3px 3px 10px var(--col-stone-800);
}
.shadow-box-stone-900 {
  box-shadow: 3px 3px 10px var(--col-stone-900);
}
.shadow-box-stone-950 {
  box-shadow: 3px 3px 10px var(--col-stone-950);
}

.shadow-box-red-50 {
  box-shadow: 3px 3px 10px var(--col-red-50);
}
.shadow-box-red-100 {
  box-shadow: 3px 3px 10px var(--col-red-100);
}
.shadow-box-red-200 {
  box-shadow: 3px 3px 10px var(--col-red-200);
}
.shadow-box-red-300 {
  box-shadow: 3px 3px 10px var(--col-red-300);
}
.shadow-box-red-400 {
  box-shadow: 3px 3px 10px var(--col-red-400);
}
.shadow-box-red-500 {
  box-shadow: 3px 3px 10px var(--col-red-500);
}
.shadow-box-red {
  box-shadow: 3px 3px 10px var(--col-red-500);
}
.shadow-box-red-600 {
  box-shadow: 3px 3px 10px var(--col-red-600);
}
.shadow-box-red-700 {
  box-shadow: 3px 3px 10px var(--col-red-700);
}
.shadow-box-red-800 {
  box-shadow: 3px 3px 10px var(--col-red-800);
}
.shadow-box-red-900 {
  box-shadow: 3px 3px 10px var(--col-red-900);
}
.shadow-box-red-950 {
  box-shadow: 3px 3px 10px var(--col-red-950);
}

.shadow-box-orange-50 {
  box-shadow: 3px 3px 10px var(--col-orange-50);
}
.shadow-box-orange-100 {
  box-shadow: 3px 3px 10px var(--col-orange-100);
}
.shadow-box-orange-200 {
  box-shadow: 3px 3px 10px var(--col-orange-200);
}
.shadow-box-orange-300 {
  box-shadow: 3px 3px 10px var(--col-orange-300);
}
.shadow-box-orange-400 {
  box-shadow: 3px 3px 10px var(--col-orange-400);
}
.shadow-box-orange-500 {
  box-shadow: 3px 3px 10px var(--col-orange-500);
}
.shadow-box-orange {
  box-shadow: 3px 3px 10px var(--col-orange-500);
}
.shadow-box-orange-600 {
  box-shadow: 3px 3px 10px var(--col-orange-600);
}
.shadow-box-orange-700 {
  box-shadow: 3px 3px 10px var(--col-orange-700);
}
.shadow-box-orange-800 {
  box-shadow: 3px 3px 10px var(--col-orange-800);
}
.shadow-box-orange-900 {
  box-shadow: 3px 3px 10px var(--col-orange-900);
}
.shadow-box-orange-950 {
  box-shadow: 3px 3px 10px var(--col-orange-950);
}

.shadow-box-amber-50 {
  box-shadow: 3px 3px 10px var(--col-amber-50);
}
.shadow-box-amber-100 {
  box-shadow: 3px 3px 10px var(--col-amber-100);
}
.shadow-box-amber-200 {
  box-shadow: 3px 3px 10px var(--col-amber-200);
}
.shadow-box-amber-300 {
  box-shadow: 3px 3px 10px var(--col-amber-300);
}
.shadow-box-amber-400 {
  box-shadow: 3px 3px 10px var(--col-amber-400);
}
.shadow-box-amber-500 {
  box-shadow: 3px 3px 10px var(--col-amber-500);
}
.shadow-box-amber {
  box-shadow: 3px 3px 10px var(--col-amber-500);
}
.shadow-box-amber-600 {
  box-shadow: 3px 3px 10px var(--col-amber-600);
}
.shadow-box-amber-700 {
  box-shadow: 3px 3px 10px var(--col-amber-700);
}
.shadow-box-amber-800 {
  box-shadow: 3px 3px 10px var(--col-amber-800);
}
.shadow-box-amber-900 {
  box-shadow: 3px 3px 10px var(--col-amber-900);
}
.shadow-box-amber-950 {
  box-shadow: 3px 3px 10px var(--col-amber-950);
}

.shadow-box-yellow-50 {
  box-shadow: 3px 3px 10px var(--col-yellow-50);
}
.shadow-box-yellow-100 {
  box-shadow: 3px 3px 10px var(--col-yellow-100);
}
.shadow-box-yellow-200 {
  box-shadow: 3px 3px 10px var(--col-yellow-200);
}
.shadow-box-yellow-300 {
  box-shadow: 3px 3px 10px var(--col-yellow-300);
}
.shadow-box-yellow-400 {
  box-shadow: 3px 3px 10px var(--col-yellow-400);
}
.shadow-box-yellow-500 {
  box-shadow: 3px 3px 10px var(--col-yellow-500);
}
.shadow-box-yellow {
  box-shadow: 3px 3px 10px var(--col-yellow-400);
}
.shadow-box-yellow-600 {
  box-shadow: 3px 3px 10px var(--col-yellow-600);
}
.shadow-box-yellow-700 {
  box-shadow: 3px 3px 10px var(--col-yellow-700);
}
.shadow-box-yellow-800 {
  box-shadow: 3px 3px 10px var(--col-yellow-800);
}
.shadow-box-yellow-900 {
  box-shadow: 3px 3px 10px var(--col-yellow-900);
}
.shadow-box-yellow-950 {
  box-shadow: 3px 3px 10px var(--col-yellow-950);
}

.shadow-box-lime-50 {
  box-shadow: 3px 3px 10px var(--col-lime-50);
}
.shadow-box-lime-100 {
  box-shadow: 3px 3px 10px var(--col-lime-100);
}
.shadow-box-lime-200 {
  box-shadow: 3px 3px 10px var(--col-lime-200);
}
.shadow-box-lime-300 {
  box-shadow: 3px 3px 10px var(--col-lime-300);
}
.shadow-box-lime-400 {
  box-shadow: 3px 3px 10px var(--col-lime-400);
}
.shadow-box-lime-500 {
  box-shadow: 3px 3px 10px var(--col-lime-500);
}
.shadow-box-lime {
  box-shadow: 3px 3px 10px var(--col-lime-400);
}
.shadow-box-lime-600 {
  box-shadow: 3px 3px 10px var(--col-lime-600);
}
.shadow-box-lime-700 {
  box-shadow: 3px 3px 10px var(--col-lime-700);
}
.shadow-box-lime-800 {
  box-shadow: 3px 3px 10px var(--col-lime-800);
}
.shadow-box-lime-900 {
  box-shadow: 3px 3px 10px var(--col-lime-900);
}
.shadow-box-lime-950 {
  box-shadow: 3px 3px 10px var(--col-lime-950);
}

.shadow-box-green-50 {
  box-shadow: 3px 3px 10px var(--col-green-50);
}
.shadow-box-green-100 {
  box-shadow: 3px 3px 10px var(--col-green-100);
}
.shadow-box-green-200 {
  box-shadow: 3px 3px 10px var(--col-green-200);
}
.shadow-box-green-300 {
  box-shadow: 3px 3px 10px var(--col-green-300);
}
.shadow-box-green-400 {
  box-shadow: 3px 3px 10px var(--col-green-400);
}
.shadow-box-green-500 {
  box-shadow: 3px 3px 10px var(--col-green-500);
}
.shadow-box-green {
  box-shadow: 3px 3px 10px var(--col-green-500);
}
.shadow-box-green-600 {
  box-shadow: 3px 3px 10px var(--col-green-600);
}
.shadow-box-green-700 {
  box-shadow: 3px 3px 10px var(--col-green-700);
}
.shadow-box-green-800 {
  box-shadow: 3px 3px 10px var(--col-green-800);
}
.shadow-box-green-900 {
  box-shadow: 3px 3px 10px var(--col-green-900);
}
.shadow-box-green-950 {
  box-shadow: 3px 3px 10px var(--col-green-950);
}

.shadow-box-emerald-50 {
  box-shadow: 3px 3px 10px var(--col-emerald-50);
}
.shadow-box-emerald-100 {
  box-shadow: 3px 3px 10px var(--col-emerald-100);
}
.shadow-box-emerald-200 {
  box-shadow: 3px 3px 10px var(--col-emerald-200);
}
.shadow-box-emerald-300 {
  box-shadow: 3px 3px 10px var(--col-emerald-300);
}
.shadow-box-emerald-400 {
  box-shadow: 3px 3px 10px var(--col-emerald-400);
}
.shadow-box-emerald-500 {
  box-shadow: 3px 3px 10px var(--col-emerald-500);
}
.shadow-box-emerald {
  box-shadow: 3px 3px 10px var(--col-emerald-500);
}
.shadow-box-emerald-600 {
  box-shadow: 3px 3px 10px var(--col-emerald-600);
}
.shadow-box-emerald-700 {
  box-shadow: 3px 3px 10px var(--col-emerald-700);
}
.shadow-box-emerald-800 {
  box-shadow: 3px 3px 10px var(--col-emerald-800);
}
.shadow-box-emerald-900 {
  box-shadow: 3px 3px 10px var(--col-emerald-900);
}
.shadow-box-emerald-950 {
  box-shadow: 3px 3px 10px var(--col-emerald-950);
}

.shadow-box-teal-50 {
  box-shadow: 3px 3px 10px var(--col-teal-50);
}
.shadow-box-teal-100 {
  box-shadow: 3px 3px 10px var(--col-teal-100);
}
.shadow-box-teal-200 {
  box-shadow: 3px 3px 10px var(--col-teal-200);
}
.shadow-box-teal-300 {
  box-shadow: 3px 3px 10px var(--col-teal-300);
}
.shadow-box-teal-400 {
  box-shadow: 3px 3px 10px var(--col-teal-400);
}
.shadow-box-teal-500 {
  box-shadow: 3px 3px 10px var(--col-teal-500);
}
.shadow-box-teal {
  box-shadow: 3px 3px 10px var(--col-teal-400);
}
.shadow-box-teal-600 {
  box-shadow: 3px 3px 10px var(--col-teal-600);
}
.shadow-box-teal-700 {
  box-shadow: 3px 3px 10px var(--col-teal-700);
}
.shadow-box-teal-800 {
  box-shadow: 3px 3px 10px var(--col-teal-800);
}
.shadow-box-teal-900 {
  box-shadow: 3px 3px 10px var(--col-teal-900);
}
.shadow-box-teal-950 {
  box-shadow: 3px 3px 10px var(--col-teal-950);
}

.shadow-box-cyan-50 {
  box-shadow: 3px 3px 10px var(--col-cyan-50);
}
.shadow-box-cyan-100 {
  box-shadow: 3px 3px 10px var(--col-cyan-100);
}
.shadow-box-cyan-200 {
  box-shadow: 3px 3px 10px var(--col-cyan-200);
}
.shadow-box-cyan-300 {
  box-shadow: 3px 3px 10px var(--col-cyan-300);
}
.shadow-box-cyan-400 {
  box-shadow: 3px 3px 10px var(--col-cyan-400);
}
.shadow-box-cyan-500 {
  box-shadow: 3px 3px 10px var(--col-cyan-500);
}
.shadow-box-cyan {
  box-shadow: 3px 3px 10px var(--col-cyan-400);
}
.shadow-box-cyan-600 {
  box-shadow: 3px 3px 10px var(--col-cyan-600);
}
.shadow-box-cyan-700 {
  box-shadow: 3px 3px 10px var(--col-cyan-700);
}
.shadow-box-cyan-800 {
  box-shadow: 3px 3px 10px var(--col-cyan-800);
}
.shadow-box-cyan-900 {
  box-shadow: 3px 3px 10px var(--col-cyan-900);
}
.shadow-box-cyan-950 {
  box-shadow: 3px 3px 10px var(--col-cyan-950);
}

.shadow-box-sky-50 {
  box-shadow: 3px 3px 10px var(--col-sky-50);
}
.shadow-box-sky-100 {
  box-shadow: 3px 3px 10px var(--col-sky-100);
}
.shadow-box-sky-200 {
  box-shadow: 3px 3px 10px var(--col-sky-200);
}
.shadow-box-sky-300 {
  box-shadow: 3px 3px 10px var(--col-sky-300);
}
.shadow-box-sky-400 {
  box-shadow: 3px 3px 10px var(--col-sky-400);
}
.shadow-box-sky-500 {
  box-shadow: 3px 3px 10px var(--col-sky-500);
}
.shadow-box-sky {
  box-shadow: 3px 3px 10px var(--col-sky-400);
}
.shadow-box-sky-600 {
  box-shadow: 3px 3px 10px var(--col-sky-600);
}
.shadow-box-sky-700 {
  box-shadow: 3px 3px 10px var(--col-sky-700);
}
.shadow-box-sky-800 {
  box-shadow: 3px 3px 10px var(--col-sky-800);
}
.shadow-box-sky-900 {
  box-shadow: 3px 3px 10px var(--col-sky-900);
}
.shadow-box-sky-950 {
  box-shadow: 3px 3px 10px var(--col-sky-950);
}

.shadow-box-blue-50 {
  box-shadow: 3px 3px 10px var(--col-blue-50);
}
.shadow-box-blue-100 {
  box-shadow: 3px 3px 10px var(--col-blue-100);
}
.shadow-box-blue-200 {
  box-shadow: 3px 3px 10px var(--col-blue-200);
}
.shadow-box-blue-300 {
  box-shadow: 3px 3px 10px var(--col-blue-300);
}
.shadow-box-blue-400 {
  box-shadow: 3px 3px 10px var(--col-blue-400);
}
.shadow-box-blue-500 {
  box-shadow: 3px 3px 10px var(--col-blue-500);
}
.shadow-box-blue {
  box-shadow: 3px 3px 10px var(--col-blue-400);
}
.shadow-box-blue-600 {
  box-shadow: 3px 3px 10px var(--col-blue-600);
}
.shadow-box-blue-700 {
  box-shadow: 3px 3px 10px var(--col-blue-700);
}
.shadow-box-blue-800 {
  box-shadow: 3px 3px 10px var(--col-blue-800);
}
.shadow-box-blue-900 {
  box-shadow: 3px 3px 10px var(--col-blue-900);
}
.shadow-box-blue-950 {
  box-shadow: 3px 3px 10px var(--col-blue-950);
}

.shadow-box-indigo-50 {
  box-shadow: 3px 3px 10px var(--col-indigo-50);
}
.shadow-box-indigo-100 {
  box-shadow: 3px 3px 10px var(--col-indigo-100);
}
.shadow-box-indigo-200 {
  box-shadow: 3px 3px 10px var(--col-indigo-200);
}
.shadow-box-indigo-300 {
  box-shadow: 3px 3px 10px var(--col-indigo-300);
}
.shadow-box-indigo-400 {
  box-shadow: 3px 3px 10px var(--col-indigo-400);
}
.shadow-box-indigo-500 {
  box-shadow: 3px 3px 10px var(--col-indigo-500);
}
.shadow-box-indigo {
  box-shadow: 3px 3px 10px var(--col-indigo-400);
}
.shadow-box-indigo-600 {
  box-shadow: 3px 3px 10px var(--col-indigo-600);
}
.shadow-box-indigo-700 {
  box-shadow: 3px 3px 10px var(--col-indigo-700);
}
.shadow-box-indigo-800 {
  box-shadow: 3px 3px 10px var(--col-indigo-800);
}
.shadow-box-indigo-900 {
  box-shadow: 3px 3px 10px var(--col-indigo-900);
}
.shadow-box-indigo-950 {
  box-shadow: 3px 3px 10px var(--col-indigo-950);
}

.shadow-box-violet-50 {
  box-shadow: 3px 3px 10px var(--col-violet-50);
}
.shadow-box-violet-100 {
  box-shadow: 3px 3px 10px var(--col-violet-100);
}
.shadow-box-violet-200 {
  box-shadow: 3px 3px 10px var(--col-violet-200);
}
.shadow-box-violet-300 {
  box-shadow: 3px 3px 10px var(--col-violet-300);
}
.shadow-box-violet-400 {
  box-shadow: 3px 3px 10px var(--col-violet-400);
}
.shadow-box-violet-500 {
  box-shadow: 3px 3px 10px var(--col-violet-500);
}
.shadow-box-violet {
  box-shadow: 3px 3px 10px var(--col-violet-500);
}
.shadow-box-violet-600 {
  box-shadow: 3px 3px 10px var(--col-violet-600);
}
.shadow-box-violet-700 {
  box-shadow: 3px 3px 10px var(--col-violet-700);
}
.shadow-box-violet-800 {
  box-shadow: 3px 3px 10px var(--col-violet-800);
}
.shadow-box-violet-900 {
  box-shadow: 3px 3px 10px var(--col-violet-900);
}
.shadow-box-violet-950 {
  box-shadow: 3px 3px 10px var(--col-violet-950);
}

.shadow-box-purple-50 {
  box-shadow: 3px 3px 10px var(--col-purple-50);
}
.shadow-box-purple-100 {
  box-shadow: 3px 3px 10px var(--col-purple-100);
}
.shadow-box-purple-200 {
  box-shadow: 3px 3px 10px var(--col-purple-200);
}
.shadow-box-purple-300 {
  box-shadow: 3px 3px 10px var(--col-purple-300);
}
.shadow-box-purple-400 {
  box-shadow: 3px 3px 10px var(--col-purple-400);
}
.shadow-box-purple-500 {
  box-shadow: 3px 3px 10px var(--col-purple-500);
}
.shadow-box-purple {
  box-shadow: 3px 3px 10px var(--col-purple-500);
}
.shadow-box-purple-600 {
  box-shadow: 3px 3px 10px var(--col-purple-600);
}
.shadow-box-purple-700 {
  box-shadow: 3px 3px 10px var(--col-purple-700);
}
.shadow-box-purple-800 {
  box-shadow: 3px 3px 10px var(--col-purple-800);
}
.shadow-box-purple-900 {
  box-shadow: 3px 3px 10px var(--col-purple-900);
}
.shadow-box-purple-950 {
  box-shadow: 3px 3px 10px var(--col-purple-950);
}

.shadow-box-fuchsia-50 {
  box-shadow: 3px 3px 10px var(--col-fuchsia-50);
}
.shadow-box-fuchsia-100 {
  box-shadow: 3px 3px 10px var(--col-fuchsia-100);
}
.shadow-box-fuchsia-200 {
  box-shadow: 3px 3px 10px var(--col-fuchsia-200);
}
.shadow-box-fuchsia-300 {
  box-shadow: 3px 3px 10px var(--col-fuchsia-300);
}
.shadow-box-fuchsia-400 {
  box-shadow: 3px 3px 10px var(--col-fuchsia-400);
}
.shadow-box-fuchsia-500 {
  box-shadow: 3px 3px 10px var(--col-fuchsia-500);
}
.shadow-box-fuchsia {
  box-shadow: 3px 3px 10px var(--col-fuchsia-500);
}
.shadow-box-fuchsia-600 {
  box-shadow: 3px 3px 10px var(--col-fuchsia-600);
}
.shadow-box-fuchsia-700 {
  box-shadow: 3px 3px 10px var(--col-fuchsia-700);
}
.shadow-box-fuchsia-800 {
  box-shadow: 3px 3px 10px var(--col-fuchsia-800);
}
.shadow-box-fuchsia-900 {
  box-shadow: 3px 3px 10px var(--col-fuchsia-900);
}
.shadow-box-fuchsia-950 {
  box-shadow: 3px 3px 10px var(--col-fuchsia-950);
}

.shadow-box-pink-50 {
  box-shadow: 3px 3px 10px var(--col-pink-50);
}
.shadow-box-pink-100 {
  box-shadow: 3px 3px 10px var(--col-pink-100);
}
.shadow-box-pink-200 {
  box-shadow: 3px 3px 10px var(--col-pink-200);
}
.shadow-box-pink-300 {
  box-shadow: 3px 3px 10px var(--col-pink-300);
}
.shadow-box-pink-400 {
  box-shadow: 3px 3px 10px var(--col-pink-400);
}
.shadow-box-pink-500 {
  box-shadow: 3px 3px 10px var(--col-pink-500);
}
.shadow-box-pink {
  box-shadow: 3px 3px 10px var(--col-pink-500);
}
.shadow-box-pink-600 {
  box-shadow: 3px 3px 10px var(--col-pink-600);
}
.shadow-box-pink-700 {
  box-shadow: 3px 3px 10px var(--col-pink-700);
}
.shadow-box-pink-800 {
  box-shadow: 3px 3px 10px var(--col-pink-800);
}
.shadow-box-pink-900 {
  box-shadow: 3px 3px 10px var(--col-pink-900);
}
.shadow-box-pink-950 {
  box-shadow: 3px 3px 10px var(--col-pink-950);
}

.shadow-box-rose-50 {
  box-shadow: 3px 3px 10px var(--col-rose-50);
}
.shadow-box-rose-100 {
  box-shadow: 3px 3px 10px var(--col-rose-100);
}
.shadow-box-rose-200 {
  box-shadow: 3px 3px 10px var(--col-rose-200);
}
.shadow-box-rose-300 {
  box-shadow: 3px 3px 10px var(--col-rose-300);
}
.shadow-box-rose-400 {
  box-shadow: 3px 3px 10px var(--col-rose-400);
}
.shadow-box-rose-500 {
  box-shadow: 3px 3px 10px var(--col-rose-500);
}
.shadow-box-rose {
  box-shadow: 3px 3px 10px var(--col-rose-500);
}
.shadow-box-rose-600 {
  box-shadow: 3px 3px 10px var(--col-rose-600);
}
.shadow-box-rose-700 {
  box-shadow: 3px 3px 10px var(--col-rose-700);
}
.shadow-box-rose-800 {
  box-shadow: 3px 3px 10px var(--col-rose-800);
}
.shadow-box-rose-900 {
  box-shadow: 3px 3px 10px var(--col-rose-900);
}
.shadow-box-rose-950 {
  box-shadow: 3px 3px 10px var(--col-rose-950);
}
