:root,
[data-theme-mode="light"] {
  --font-body: sans-serif, arial;
  --bg-body: var(--col-slate-50);
  --text-color: var(--col-dark);
  --col-text-dark: var(--col-dark);
  --col-text-light: var(--col-light);
  --col-light: #fff;
  --col-dark: #000;
  --col-slate-50: #f8fafc;
  --col-slate-100: #f1f5f9;
  --col-slate-200: #e2e8f0;
  --col-slate-300: #cbd5e1;
  --col-slate-400: #94a3b8;
  --col-slate-500: #64748b;
  --col-slate-600: #475569;
  --col-slate-700: #334155;
  --col-slate-800: #1e293b;
  --col-slate-900: #0f172a;
  --col-slate-950: #020617;

  --col-gray-50: #f9fafb;
  --col-gray-100: #f3f4f6;
  --col-gray-200: #e5e7eb;
  --col-gray-300: #d1d5db;
  --col-gray-400: #9ca3af;
  --col-gray-500: #6b7280;
  --col-gray-600: #4b5563;
  --col-gray-700: #374151;
  --col-gray-800: #1f2937;
  --col-gray-900: #111827;
  --col-gray-950: #030712;

  --col-zinc-50: #fafafa;
  --col-zinc-100: #f4f4f5;
  --col-zinc-200: #e4e4e7;
  --col-zinc-300: #d4d4d8;
  --col-zinc-400: #a1a1aa;
  --col-zinc-500: #71717a;
  --col-zinc-600: #52525b;
  --col-zinc-700: #3f3f46;
  --col-zinc-800: #27272a;
  --col-zinc-900: #18181b;
  --col-zinc-950: #09090b;

  --col-neutral-50: #fafafa;
  --col-neutral-100: #f5f5f5;
  --col-neutral-200: #e5e5e5;
  --col-neutral-300: #d4d4d4;
  --col-neutral-400: #a3a3a3;
  --col-neutral-500: #737373;
  --col-neutral-600: #525252;
  --col-neutral-700: #404040;
  --col-neutral-800: #262626;
  --col-neutral-900: #171717;
  --col-neutral-950: #0a0a0a;

  --col-stone-50: #fafaf9;
  --col-stone-100: #f5f5f4;
  --col-stone-200: #e7e5e4;
  --col-stone-300: #d6d3d1;
  --col-stone-400: #a8a29e;
  --col-stone-500: #78716c;
  --col-stone-600: #57534e;
  --col-stone-700: #44403c;
  --col-stone-800: #292524;
  --col-stone-900: #1c1917;
  --col-stone-950: #0c0a09;

  --col-red-50: #fef2f2;
  --col-red-100: #fee2e2;
  --col-red-200: #fecaca;
  --col-red-300: #fca5a5;
  --col-red-400: #f87171;
  --col-red-500: #ef4444;
  --col-red-600: #dc2626;
  --col-red-700: #b91c1c;
  --col-red-800: #991b1b;
  --col-red-900: #7f1d1d;
  --col-red-950: #450a0a;

  --col-orange-50: #fff7ed;
  --col-orange-100: #ffedd5;
  --col-orange-200: #fed7aa;
  --col-orange-300: #fdba74;
  --col-orange-400: #fb923c;
  --col-orange-500: #f97316;
  --col-orange-600: #ea580c;
  --col-orange-700: #c2410c;
  --col-orange-800: #9a3412;
  --col-orange-900: #7c2d12;
  --col-orange-950: #431407;

  --col-amber-50: #fffbeb;
  --col-amber-100: #fef3c7;
  --col-amber-200: #fde68a;
  --col-amber-300: #fcd34d;
  --col-amber-400: #fbbf24;
  --col-amber-500: #f59e0b;
  --col-amber-600: #d97706;
  --col-amber-700: #b45309;
  --col-amber-800: #92400e;
  --col-amber-900: #78350f;
  --col-amber-950: #451a03;

  --col-yellow-50: #fefce8;
  --col-yellow-100: #fef9c3;
  --col-yellow-200: #fef08a;
  --col-yellow-300: #fde047;
  --col-yellow-400: #facc15;
  --col-yellow-500: #eab308;
  --col-yellow-600: #ca8a04;
  --col-yellow-700: #a16207;
  --col-yellow-800: #854d0e;
  --col-yellow-900: #713f12;
  --col-yellow-950: #422006;

  --col-lime-50: #f7fee7;
  --col-lime-100: #ecfccb;
  --col-lime-200: #d9f99d;
  --col-lime-300: #bef264;
  --col-lime-400: #a3e635;
  --col-lime-500: #84cc16;
  --col-lime-600: #65a30d;
  --col-lime-700: #4d7c0f;
  --col-lime-800: #3f6212;
  --col-lime-900: #365314;
  --col-lime-950: #1a2e05;

  --col-green-50: #f0fdf4;
  --col-green-100: #dcfce7;
  --col-green-200: #bbf7d0;
  --col-green-300: #86efac;
  --col-green-400: #4ade80;
  --col-green-500: #22c55e;
  --col-green-600: #16a34a;
  --col-green-700: #15803d;
  --col-green-800: #166534;
  --col-green-900: #14532d;
  --col-green-950: #052e16;

  --col-emerald-50: #ecfdf5;
  --col-emerald-100: #d1fae5;
  --col-emerald-200: #a7f3d0;
  --col-emerald-300: #6ee7b7;
  --col-emerald-400: #34d399;
  --col-emerald-500: #10b981;
  --col-emerald-600: #059669;
  --col-emerald-700: #047857;
  --col-emerald-800: #065f46;
  --col-emerald-900: #064e3b;
  --col-emerald-950: #022c22;

  --col-teal-50: #f0fdfa;
  --col-teal-100: #ccfbf1;
  --col-teal-200: #99f6e4;
  --col-teal-300: #5eead4;
  --col-teal-400: #2dd4bf;
  --col-teal-500: #10b981;
  --col-teal-600: #059669;
  --col-teal-700: #047857;
  --col-teal-800: #065f46;
  --col-teal-900: #064e3b;
  --col-teal-950: #022c22;

  --col-cyan-50: #ecfeff;
  --col-cyan-100: #cffafe;
  --col-cyan-200: #a5f3fc;
  --col-cyan-300: #67e8f9;
  --col-cyan-400: #22d3ee;
  --col-cyan-500: #06b6d4;
  --col-cyan-600: #0891b2;
  --col-cyan-700: #0e7490;
  --col-cyan-800: #155e75;
  --col-cyan-900: #164e63;
  --col-cyan-950: #083344;

  --col-sky-50: #f0f9ff;
  --col-sky-100: #e0f2fe;
  --col-sky-200: #bae6fd;
  --col-sky-300: #7dd3fc;
  --col-sky-400: #38bdf8;
  --col-sky-500: #0ea5e9;
  --col-sky-600: #0284c7;
  --col-sky-700: #0369a1;
  --col-sky-800: #075985;
  --col-sky-900: #0c4a6e;
  --col-sky-950: #082f49;

  --col-blue-50: #eff6ff;
  --col-blue-100: #dbeafe;
  --col-blue-200: #bfdbfe;
  --col-blue-300: #93c5fd;
  --col-blue-400: #60a5fa;
  --col-blue-500: #3b82f6;
  --col-blue-600: #2563eb;
  --col-blue-700: #1d4ed8;
  --col-blue-800: #1e40af;
  --col-blue-900: #1e3a8a;
  --col-blue-950: #172554;

  --col-indigo-50: #eef2ff;
  --col-indigo-100: #e0e7ff;
  --col-indigo-200: #c7d2fe;
  --col-indigo-300: #a5b4fc;
  --col-indigo-400: #818cf8;
  --col-indigo-500: #6366f1;
  --col-indigo-600: #4f46e5;
  --col-indigo-700: #4338ca;
  --col-indigo-800: #3730a3;
  --col-indigo-900: #312e81;
  --col-indigo-950: #1e1b4b;

  --col-violet-50: #f5f3ff;
  --col-violet-100: #ede9fe;
  --col-violet-200: #ddd6fe;
  --col-violet-300: #c4b5fd;
  --col-violet-400: #a78bfa;
  --col-violet-500: #8b5cf6;
  --col-violet-600: #7c3aed;
  --col-violet-700: #6d28d9;
  --col-violet-800: #5b21b6;
  --col-violet-900: #4c1d95;
  --col-violet-950: #2e1065;

  --col-purple-50: #faf5ff;
  --col-purple-100: #f3e8ff;
  --col-purple-200: #e9d5ff;
  --col-purple-300: #d8b4fe;
  --col-purple-400: #c084fc;
  --col-purple-500: #a855f7;
  --col-purple-600: #9333ea;
  --col-purple-700: #7e22ce;
  --col-purple-800: #6b21a8;
  --col-purple-900: #581c87;
  --col-purple-950: #3b0764;

  --col-fuchsia-50: #fdf4ff;
  --col-fuchsia-100: #fae8ff;
  --col-fuchsia-200: #f5d0fe;
  --col-fuchsia-300: #f0abfc;
  --col-fuchsia-400: #e879f9;
  --col-fuchsia-500: #d946ef;
  --col-fuchsia-600: #c026d3;
  --col-fuchsia-700: #a21caf;
  --col-fuchsia-800: #86198f;
  --col-fuchsia-900: #701a75;
  --col-fuchsia-950: #4a044e;

  --col-pink-50: #fdf2f8;
  --col-pink-100: #fce7f3;
  --col-pink-200: #fbcfe8;
  --col-pink-300: #f9a8d4;
  --col-pink-400: #f472b6;
  --col-pink-500: #ec4899;
  --col-pink-600: #db2777;
  --col-pink-700: #be185d;
  --col-pink-800: #9d174d;
  --col-pink-900: #831843;
  --col-pink-950: #500724;

  --col-rose-50: #fff1f2;
  --col-rose-100: #ffe4e6;
  --col-rose-200: #fecdd3;
  --col-rose-300: #fda4af;
  --col-rose-400: #fb7185;
  --col-rose-500: #f43f5e;
  --col-rose-600: #e11d48;
  --col-rose-700: #be123c;
  --col-rose-800: #9f1239;
  --col-rose-900: #881337;
  --col-rose-950: #4c0519;
  
}
:root,
[data-theme-mode="dark"] {
  --bg-body: var(--col-slate-50);
  --text-color: var(--col-light);
  --col-text-dark: var(--col-light);
  --col-text-light: var(--col-dark);
  --col-slate-950: #f8fafc;
  --col-slate-900: #f1f5f9;
  --col-slate-800: #e2e8f0;
  --col-slate-700: #cbd5e1;
  --col-slate-600: #94a3b8;
  --col-slate-400: #475569;
  --col-slate-300: #334155;
  --col-slate-200: #1e293b;
  --col-slate-100: #0f172a;
  --col-slate-50: #020617;

  --col-gray-950: #f9fafb;
  --col-gray-900: #f3f4f6;
  --col-gray-800: #e5e7eb;
  --col-gray-700: #d1d5db;
  --col-gray-600: #9ca3af;
  --col-gray-400: #4b5563;
  --col-gray-300: #374151;
  --col-gray-200: #1f2937;
  --col-gray-100: #111827;
  --col-gray-50: #030712;

  --col-zinc-950: #fafafa;
  --col-zinc-900: #f4f4f5;
  --col-zinc-800: #e4e4e7;
  --col-zinc-700: #d4d4d8;
  --col-zinc-600: #a1a1aa;
  --col-zinc-400: #52525b;
  --col-zinc-300: #3f3f46;
  --col-zinc-200: #27272a;
  --col-zinc-100: #18181b;
  --col-zinc-50: #09090b;

  --col-neutral-950: #fafafa;
  --col-neutral-900: #f5f5f5;
  --col-neutral-800: #e5e5e5;
  --col-neutral-700: #d4d4d4;
  --col-neutral-600: #a3a3a3;
  --col-neutral-400: #525252;
  --col-neutral-300: #404040;
  --col-neutral-200: #262626;
  --col-neutral-100: #171717;
  --col-neutral-50: #0a0a0a;

  --col-stone-950: #fafaf9;
  --col-stone-900: #f5f5f4;
  --col-stone-800: #e7e5e4;
  --col-stone-700: #d6d3d1;
  --col-stone-600: #a8a29e;
  --col-stone-400: #57534e;
  --col-stone-300: #44403c;
  --col-stone-200: #292524;
  --col-stone-100: #1c1917;
  --col-stone-50: #0c0a09;

  --col-red-950: #fef2f2;
  --col-red-900: #fee2e2;
  --col-red-800: #fecaca;
  --col-red-700: #fca5a5;
  --col-red-600: #f87171;
  --col-red-400: #dc2626;
  --col-red-300: #b91c1c;
  --col-red-200: #991b1b;
  --col-red-100: #7f1d1d;
  --col-red-50: #450a0a;

  --col-orange-950: #fff7ed;
  --col-orange-900: #ffedd5;
  --col-orange-800: #fed7aa;
  --col-orange-700: #fdba74;
  --col-orange-600: #fb923c;
  --col-orange-400: #ea580c;
  --col-orange-300: #c2410c;
  --col-orange-200: #9a3412;
  --col-orange-100: #7c2d12;
  --col-orange-50: #431407;

  --col-amber-950: #fffbeb;
  --col-amber-900: #fef3c7;
  --col-amber-800: #fde68a;
  --col-amber-700: #fcd34d;
  --col-amber-600: #fbbf24;
  --col-amber-400: #d97706;
  --col-amber-300: #b45309;
  --col-amber-200: #92400e;
  --col-amber-100: #78350f;
  --col-amber-50: #451a03;

  --col-yellow-950: #fefce8;
  --col-yellow-900: #fef9c3;
  --col-yellow-800: #fef08a;
  --col-yellow-700: #fde047;
  --col-yellow-600: #facc15;
  --col-yellow-400: #ca8a04;
  --col-yellow-300: #a16207;
  --col-yellow-200: #854d0e;
  --col-yellow-100: #713f12;
  --col-yellow-50: #422006;

  --col-lime-950: #f7fee7;
  --col-lime-900: #ecfccb;
  --col-lime-800: #d9f99d;
  --col-lime-700: #bef264;
  --col-lime-600: #a3e635;
  --col-lime-400: #65a30d;
  --col-lime-300: #4d7c0f;
  --col-lime-200: #3f6212;
  --col-lime-100: #365314;
  --col-lime-50: #1a2e05;

  --col-green-950: #f0fdf4;
  --col-green-900: #dcfce7;
  --col-green-800: #bbf7d0;
  --col-green-700: #86efac;
  --col-green-600: #4ade80;
  --col-green-400: #16a34a;
  --col-green-300: #15803d;
  --col-green-200: #166534;
  --col-green-100: #14532d;
  --col-green-50: #052e16;

  --col-emerald-950: #ecfdf5;
  --col-emerald-900: #d1fae5;
  --col-emerald-800: #a7f3d0;
  --col-emerald-700: #6ee7b7;
  --col-emerald-600: #34d399;
  --col-emerald-400: #059669;
  --col-emerald-300: #047857;
  --col-emerald-200: #065f46;
  --col-emerald-100: #064e3b;
  --col-emerald-50: #022c22;

  --col-teal-950: #f0fdfa;
  --col-teal-900: #ccfbf1;
  --col-teal-800: #99f6e4;
  --col-teal-700: #5eead4;
  --col-teal-600: #2dd4bf;
  --col-teal-400: #059669;
  --col-teal-300: #047857;
  --col-teal-200: #065f46;
  --col-teal-100: #064e3b;
  --col-teal-50: #022c22;

  --col-cyan-950: #ecfeff;
  --col-cyan-900: #cffafe;
  --col-cyan-800: #a5f3fc;
  --col-cyan-700: #67e8f9;
  --col-cyan-600: #22d3ee;
  --col-cyan-400: #0891b2;
  --col-cyan-300: #0e7490;
  --col-cyan-200: #155e75;
  --col-cyan-100: #164e63;
  --col-cyan-50: #083344;

  --col-sky-950: #f0f9ff;
  --col-sky-900: #e0f2fe;
  --col-sky-800: #bae6fd;
  --col-sky-700: #7dd3fc;
  --col-sky-600: #38bdf8;
  --col-sky-400: #0284c7;
  --col-sky-300: #0369a1;
  --col-sky-200: #075985;
  --col-sky-100: #0c4a6e;
  --col-sky-50: #082f49;

  --col-blue-950: #eff6ff;
  --col-blue-900: #dbeafe;
  --col-blue-800: #bfdbfe;
  --col-blue-700: #93c5fd;
  --col-blue-600: #60a5fa;
  --col-blue-400: #2563eb;
  --col-blue-300: #1d4ed8;
  --col-blue-200: #1e40af;
  --col-blue-100: #1e3a8a;
  --col-blue-50: #172554;

  --col-indigo-950: #eef2ff;
  --col-indigo-900: #e0e7ff;
  --col-indigo-800: #c7d2fe;
  --col-indigo-700: #a5b4fc;
  --col-indigo-600: #818cf8;
  --col-indigo-400: #4f46e5;
  --col-indigo-300: #4338ca;
  --col-indigo-200: #3730a3;
  --col-indigo-100: #312e81;
  --col-indigo-50: #1e1b4b;

  --col-violet-950: #f5f3ff;
  --col-violet-900: #ede9fe;
  --col-violet-800: #ddd6fe;
  --col-violet-700: #c4b5fd;
  --col-violet-600: #a78bfa;
  --col-violet-400: #7c3aed;
  --col-violet-300: #6d28d9;
  --col-violet-200: #5b21b6;
  --col-violet-100: #4c1d95;
  --col-violet-50: #2e1065;

  --col-purple-950: #faf5ff;
  --col-purple-900: #f3e8ff;
  --col-purple-800: #e9d5ff;
  --col-purple-700: #d8b4fe;
  --col-purple-600: #c084fc;
  --col-purple-400: #9333ea;
  --col-purple-300: #7e22ce;
  --col-purple-200: #6b21a8;
  --col-purple-100: #581c87;
  --col-purple-50: #3b0764;

  --col-fuchsia-950: #fdf4ff;
  --col-fuchsia-900: #fae8ff;
  --col-fuchsia-800: #f5d0fe;
  --col-fuchsia-700: #f0abfc;
  --col-fuchsia-600: #e879f9;
  --col-fuchsia-400: #c026d3;
  --col-fuchsia-300: #a21caf;
  --col-fuchsia-200: #86198f;
  --col-fuchsia-100: #701a75;
  --col-fuchsia-50: #4a044e;

  --col-pink-950: #fdf2f8;
  --col-pink-900: #fce7f3;
  --col-pink-800: #fbcfe8;
  --col-pink-700: #f9a8d4;
  --col-pink-600: #f472b6;
  --col-pink-400: #db2777;
  --col-pink-300: #be185d;
  --col-pink-200: #9d174d;
  --col-pink-100: #831843;
  --col-pink-50: #500724;

  --col-rose-950: #fff1f2;
  --col-rose-900: #ffe4e6;
  --col-rose-800: #fecdd3;
  --col-rose-700: #fda4af;
  --col-rose-600: #fb7185;
  --col-rose-400: #e11d48;
  --col-rose-300: #be123c;
  --col-rose-200: #9f1239;
  --col-rose-100: #881337;
  --col-rose-50: #4c0519;
}